<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>金色标鼎是什么？</em>
            <span><strong>A</strong>bout</span>
        </h2>
        <p>公司是专注于影视制作、影视发行、演出服务经纪、大型活动承办的的专业影视传播机构，公司在业内具有良好的品牌形象和美誉度，整合业界顶尖创作力量和优质影视资源，与众多顶级编剧、导演、演员有过合作并建立了长期稳定的合作关系。</p>
    </div>

    <img data-src="images/figure/about.jpg" alt="" class="article_aside">
</div>

<div id="about_tag" class="content tag">
    <img data-src="images/tag.png" alt="">
</div>