<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>联系我们</em>
            <span><strong>C</strong>ontact us</span>
        </h2>
        <ul class="textlist">
            <li>金色标鼎</li>
            <li>北京市东城区长安街建国门内贡院西街9号503门</li>
            <li>电话/传真：<br>010-52181755</li>
            <li>E-mail:<br>goldentripod_vip@163.com</li>
        </ul>
    </div>

    <img data-src="images/figure/contact.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <ul class="textlist">
        <li>Gold standard</li>
        <li>Beijing City, Dongcheng District Chang'an Avenue Jianguomen Street No. 9 503</li>
        <li>Tel / Fax: 010-52181755</li>
        <li>E-mail: Goldentripod_vip@163.com</li>
    </ul>
</div>