<div id="logo" class="logo">
    <img src="images/logo_en.png" alt="">
    <img src="images/logo_cn.png" alt="" id="logo_cn" class="logo_cn" style="display: none;">
</div>

<div id="nav" class="nav" style="display: none;">
    <div id="nav_logo" class="nav_logo"></div>
    <ul id="nav_bd" class="nav_bd">
        <li><a href="page.html#about">ABOUT</a></li>
        <li>
            <a href="page.html#works">WORKS</a>
            <ul>
                <li><a href="page.html#works/works_item_4">Car case</a></li>
                <li><a href="page.html#works/works_item_1">Cala Dinner</a></li>
                <li><a href="page.html#works/works_item_7">Art Performance</a></li>
            </ul>
        </li>
        <li><a href="page.html#join">JOIN US</a></li>
        <li><a href="page.html#contact">CONTACT</a></li>
    </ul>
</div>

<script src="js/lib/jquery.ripples.js"></script>
<script>
// #[[
(function() {
var callback = function() {
    $('#nav_logo, #nav_bd').ripples({
        resolution: 600,
        dropRadius: 20,
        perturbance: 0.04,
        interactive: true
    });
};

setTimeout(function() {
    $('#logo_cn').fadeIn(1500, function() {
        $('#logo').fadeOut(1000);
        $('#nav').fadeIn(2000, callback);
    });
}, 500);
})();
// ]]#
</script>
