<div class="article">
    <h2 class="article_title">
        <em>加入我们</em>
        <span><strong>J</strong>oin us</span>
    </h2>

    <div class="join_content">
        <p>北京金色标鼎文化传媒有限公司坚持以创新求发展为原则，不断创新新的商业模式，根据各个电视台的需求和播出收视情况差异，为不同电视台量身定做电视剧以及策划、执行大型活动、大型晚会，为品牌提供整合营销方案，企业产品体验营销活动、商务会议、产品上市发布会等活动。从创意、制作、执行、服务全方位把企业产品输出打造为企业文化输出和企业服务输出，为客户提供全方位高质量服务，高效有力增加客户粘度与亲和度。</p>
    </div>
</div>

<div class="content">
    <div class="join_tag">
        <span>偏执 = 有想法</span>
        <span>强迫症 = 追求细节</span>
        <span>贪玩=思维活跃</span>
        <span>不完美=有个性</span>
    </div>
</div>