<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>案例展示</em>
            <span><strong>W</strong>orks</span>
        </h2>
        <p>2007年8月中央电视台〈欢乐中国行〉特别节目《澳门为奥运加油》</p>
        <div class="aritcle_thumbnail">
            <img data-src="images/case/1/1_s.jpg" data-pic="images/case/1/1.jpg" alt="">
            <img data-src="images/case/1/2_s.jpg" data-pic="images/case/1/2.jpg" alt="">
            <img data-src="images/case/1/3_s.jpg" data-pic="images/case/1/3.jpg" alt="">
        </div>
    </div>

    <img data-src="images/case/1/1.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <p>火炬途经澳门非常著名的金莲花广场，等候的人群发出了激动的欢呼声，火炬手高擎火炬，不时向夹道欢迎的人们挥手致意。本身城区街道不大的澳门涌满了为奥运加油助威的市民，情形非常壮观感人。火炬途经澳门非常著名的金莲花广场，等候的人群发出了激动的欢呼声，火炬手高擎火炬，不时向夹道欢迎的人们挥手致意。本身城区街道不大的澳门涌满了为奥运加油助威的市民，情形非常壮观感人。</p>
</div>