<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>案例展示</em>
            <span><strong>W</strong>orks</span>
        </h2>
        <p>2007年1月28日，第六届亚洲冬季运动会开幕式在吉林省长春市举行。图为开幕式上的升旗仪式。</p>
        <div class="aritcle_thumbnail">
            <img data-src="images/case/2/1_s.jpg" data-pic="images/case/2/1.jpg" alt="">
            <img data-src="images/case/2/2_s.jpg" data-pic="images/case/2/2.jpg" alt="">
            <img data-src="images/case/2/3_s.jpg" data-pic="images/case/2/3.jpg" alt="">
        </div>
    </div>

    <img data-src="images/case/2/1.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <p>亚洲冬季运动会是亚奥理事会主办的综合性冬季体育盛会。本届亚洲冬季运动会比赛共设5大项10分项47小项，分别在长春市和吉林北大湖滑雪场举行。亚奥理事会45个成员国家和地区全部参加，参赛运动员810多人，是亚洲冬季运动史上规模最大的一次冰雪赛事。</p>
</div>