<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>案例展示</em>
            <span><strong>W</strong>orks</span>
        </h2>
        <p>2008年、2010年、2012年、2014年中国长春电影节开闭幕式晚会暨颁奖典</p>
        <div class="aritcle_thumbnail">
            <img data-src="images/case/3/1_s.jpg" data-pic="images/case/3/1.jpg" alt="">
            <img data-src="images/case/3/2_s.jpg" data-pic="images/case/3/2.jpg" alt="">
            <img data-src="images/case/3/3_s.jpg" data-pic="images/case/3/3.jpg" alt="">
        </div>
    </div>

    <img data-src="images/case/3/1.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <p>第12届中国长春电影节于2014年8月24日开幕，为了庆祝这一盛世，小编特意为大众整理了有关2014长春国际电影节开幕式闭幕式红地毯以及2014长春国际电影节颁奖礼等有关信息。众观2014长春国际电影节，众星云集，百花争艳，精彩之处就由男人窝为您道来。</p>
</div>