<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>案例展示</em>
            <span><strong>W</strong>orks</span>
        </h2>
        <p>2013年3月9日，以“完美兼得”为主题的一汽-大众全新捷达上市发布会在深圳湾体育中心举行。</p>
        <div class="aritcle_thumbnail">
            <img data-src="images/case/4/1_s.jpg" data-pic="images/case/4/1.jpg" alt="">
            <img data-src="images/case/4/2_s.jpg" data-pic="images/case/4/2.jpg" alt="">
            <img data-src="images/case/4/3_s.jpg" data-pic="images/case/4/3.jpg" alt="">
        </div>
    </div>

    <img data-src="images/case/4/1.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <p>中国第一汽车集团公司副总经理秦焕明，大众汽车集团管理董事会成员、大众汽车集团(中国)总裁CEO 海兹曼教授，一汽-大众董事、总经理安铁成，副总经理毕德利、郜德吉、温泽岳、胡咏，党委书记、工会主席姜延春以及来自全国超过500家媒体记者、各界嘉宾、捷达用户代表共同参加了此次上市发布庆典。</p>
</div>