<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>案例展示</em>
            <span><strong>W</strong>orks</span>
        </h2>
        <p>一汽大众汽车有限公司在杭州大剧院举办了以“智臻成就，辉映人生”为主题的全新迈腾上市发布会。</p>
        <div class="aritcle_thumbnail">
            <img data-src="images/case/5/1_s.jpg" data-pic="images/case/5/1.jpg" alt="">
            <img data-src="images/case/5/2_s.jpg" data-pic="images/case/5/2.jpg" alt="">
            <img data-src="images/case/5/3_s.jpg" data-pic="images/case/5/3.jpg" alt="">
        </div>
    </div>

    <img data-src="images/case/5/1.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <p>7月28日，一汽大众汽车有限公司在杭州大剧院举办了以“智臻成就，辉映人生”为主题的全新迈腾上市发布会，并公布了全新迈腾八款车型售价，其价格从19.98万元至33.48万元不等。作为一款创新豪华的德系高级轿车，全新迈腾按照C级车生产标准制造，无论是对创新科技的采用还是豪华的程度，都将达到同级细分市场前所未有的高度。</p>
</div>