<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>案例展示</em>
            <span><strong>W</strong>orks</span>
        </h2>
        <p>2014年6月23日奥迪金港RS系列驾控汇，打造业内最具水准的豪华车试乘试驾活动。</p>
        <div class="aritcle_thumbnail">
            <img data-src="images/case/6/1_s.jpg" data-pic="images/case/6/1.jpg" alt="">
            <img data-src="images/case/6/2_s.jpg" data-pic="images/case/6/2.jpg" alt="">
            <img data-src="images/case/6/3_s.jpg" data-pic="images/case/6/3.jpg" alt="">
        </div>
    </div>

    <img data-src="images/case/6/1.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <p>2014年奥迪驾控汇驾乘体验，通过奥迪A、S及Q级经典座驾的试乘试驾，体验奥迪车型的舒适驾乘、精准操控等驾乘感受。在不同路况条件下，深入了解奥迪产品的强大性能和科技亮点，领略奥迪"突破科技，启迪未来"的品牌精神。</p>
</div>