<div class="article clearfix">
    <div class="article_main">
        <h2 class="article_title">
            <em>案例展示</em>
            <span><strong>W</strong>orks</span>
        </h2>
        <p>演艺产业是基础性文化产业，在文化市场中占据重要地位。</p>
        <div class="aritcle_thumbnail">
            <img data-src="images/case/7/1_s.jpg" data-pic="images/case/7/1.jpg" alt="">
            <img data-src="images/case/7/2_s.jpg" data-pic="images/case/7/2.jpg" alt="">
            <img data-src="images/case/7/3_s.jpg" data-pic="images/case/7/3.jpg" alt="">
        </div>
    </div>

    <img data-src="images/case/7/1.jpg" alt="" class="article_aside">
</div>

<div class="content">
    <p>演艺产业链各环节包括文艺表演团体、演出场所、演出中介机构和演出票务。演艺产业是文化产业体系中的核心产业之一，是一个创意密集和劳动力密集的产业，也是一项能耗低、可持续发展性强的低碳产业，具有极大的辐射和拉动作用。</p>
</div>